body {
    width: 800px;
    height: 800px;
}
.main {
    display: grid;
    gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(18, 1fr);
    background: url(images/windowsbg.jpg);
    background-color: hwb(0 72% 28% / 0.452);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    color: white;
}
.tabmenu {
    height: 15px;
    text-align: center;
    align-self: flex-end;
    

}
.recently {
    
    height: 15px;
    text-align: start;
    align-self: flex-end;
    grid-area: 1 / 2 / 1 / 8;
}
.productivity {
    height: 15px;
    text-align: start;
    align-self: flex-end;
    grid-area: 1 / 8 / 1 / 17;
}
.power {
    grid-area: 18 / 1 / 18 / 1;
    display: grid;
    justify-items: center;
}
.powerimg {
    width: 50%;
}
.settings {
    grid-area: 17 / 1 / 17 / 1;
    display: grid;
    justify-items: center;
}
.settingsimg {
    width: 50%;
}
.gallery {
    grid-area: 16 / 1 / 16 / 1;
    display: grid;
    justify-items: center;
}
.galleryimg {
    width: 50%;
}
.file {
    grid-area: 15 / 1 / 15 / 1;
    display: grid;
    justify-items: center;
}
.fileimg {
    width: 50%;
}
.user {
    grid-area: 14 / 1 / 14 / 1;
    display: grid;
    justify-items: center;
}
.userimg {
    width: 50%;
}
.office {
    display: grid;
    grid-area: 2 / 8 / 5 / 11;
    background-color: rgb(51, 51, 51);
}
.officeimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.poffice {
    position: absolute;
    align-self: flex-end;    
    margin-bottom: 3px;
    padding-left: 10px;
}
.word {
    grid-area: 2 / 12 / 2 / 13;
    display: grid;
}
.wordd {
    grid-area: 3 / 11 / 3 / 12;
    display: grid;
}
.worddd {
    grid-area: 3 / 13 / 3 / 14;
    display: grid;
}
.wordimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.excel {
    grid-area: 2 / 11 / 2 / 12;
    display: grid;
}
.excelimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;

}
.exceld {
    grid-area: 2 / 13 / 2 / 14;
    display: grid;
}

.exceldd {
    grid-area: 3 / 12 / 3 / 13;
    display: grid;
}
.skype {
    grid-area: 4 / 11 / 4 / 14;
    background-color: blue;
    display: grid;
}
.skypeimg {
    width: 40px;
    height: 40px;
    justify-self: start;
    align-self: center;
}
.mail {
    grid-area: 4 / 16 / 4 / 17;
    background-color: lightskyblue;
    display: grid;
    width: 50%;
    height: 50%;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 3px;
}
.pyahoo {
    display: grid;
    justify-self: center;
    align-self: center;
    position: absolute;
}
.mailimg {
    width: 40%;
    justify-self: flex-end;
    align-self: flex-start;
    margin: 0px;    
}
.pmail {
    position: absolute;
    justify-self: flex-start;
    align-self: flex-end;
    margin-bottom: 3px;
}
.yahoo {
    grid-area: 2 / 14 / 5 / 17;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: lightskyblue;
}
.textmail {
    grid-area: 4 / 14 / 4 / 16;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    background-color: lightskyblue;
    padding-left: 10px;

}
.explore {
    grid-area: 8 / 8 / 8 / 17;
    align-self: center;
}
.edge {
    grid-area: 5 / 8 / 8 / 11;
    display: grid;
    padding-bottom: 3px;
    background-color: lightskyblue;

}
.edgeimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.pedge {
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
.photos {
    grid-area: 5 / 11 / 8 / 14;
    display: grid;
    padding-bottom: 3px;
    background-color: lightskyblue;

}
.photosimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.pphotos {
    width: 100%;
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
.edgeright {
    grid-area: 5 / 14 / 8 / 17;
    display: grid;
    padding-bottom: 3px;
    background-color: lightskyblue;
}
.edgerimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.pedger {
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
.store {
    grid-area: 9 / 8 / 12 / 11;
    display: grid;
    padding-bottom: 3px;
    background-color: lightskyblue;
}
.storeimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.weather {
    grid-area: 9 / 11 / 12 / 14;
    display: grid;
    padding-bottom: 3px;
    background-image: url(images/weather.jpg);
    background-position: 1fr 1fr;
}
.weatherimg {
    width: 1fr;
    height: 1fr;
    justify-self: center;
    align-self: center;
}
.pweather {
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
.cloudy {
    position: absolute;
    align-self: flex-start;
    justify-self: center;
}
.gradestanga {
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    margin-left: 2%;
    font-size: x-large;
}
.gradedreapta {
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    margin-right: 2%;
}
.news {
    grid-area: 9 / 14 / 12 / 17;
    display: grid;
    background-color: red;
}
.newsimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.solitaire {
    grid-area: 12 / 8 / 15 / 11;
    display: grid;
    background-color: lightskyblue;
}
.solitaireimg {
    width: 40%;
    height: 40%;
    justify-self: center;
    align-self: center;
}
.psolitaire {
    position: absolute;
    align-self: flex-end;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 10px;
}
.netflix {
    grid-area: 12 / 11 / 15 / 14;
    display: grid;
    background-color: black;
}
.netfliximg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.wordq {
    grid-area: 12 / 14 / 13 / 15;
    display: grid;
}
.wordqimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.worddq {
    grid-area: 13 / 15 / 14 / 16;
    display: grid;
}
.wordddq {
    grid-area: 12 / 16 / 13 / 17;
    display: grid;
}
.excelq {
    grid-area: 13 / 14 / 14 / 15;
    display: grid;
}
.excelqimg {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
.exceldq {
    grid-area: 12 / 15 / 13 / 16;
    display: grid;
}
.excelddq {
    grid-area: 13 / 16 / 14 / 17;
    display: grid;
}
.play {
    grid-area: 14 / 14 / 14 / 17;
    background-color: lightskyblue;
}
.pplay {
    padding-left: 10px;
    display: grid;
    position: absolute;
}
.realtek {
    grid-area: 16 / 8 / 19 / 11;
    display: grid;
    background-color: lightskyblue;
}
.realtekimg {
    width: 90%;
    height: 90%;
}
.prealtek {
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
.sol {
    grid-area: 16 / 11 / 19 / 14;
    background-color: lightskyblue;
    display: grid;
}
.solimg {
    width: 60%;
    height: 60%;
    display: grid;
    justify-self: center;
    align-self: center;
}
.psol {
    position: absolute;
    align-self: flex-end;
    margin: 0px;
    padding-left: 10px;
}
/* .test {
    grid-area: 19 / 2 / 22 / 2;
    width: 200px;
    height: 200px;
    background-color: red;
} */