.tags {
    display: flex;
    justify-content: space-between;
}
.elemente-tag  {
    display: flex;
    gap: 20px;
}
.elemente-tag  > a {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.elemente-tag > a.active {
    background-color: black;
    color: white;
}