#chessBoard {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 5px;
  }
  
  .square {
    width: 80px;
    height: 80px;
    border: 1px solid black;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: black;
  }